<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CAY Design</title>

    <link href="vendor/aos/aos.css" rel="stylesheet">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="vendor/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="css/style.css" type="text/css" rel="stylesheet">

</head>
<body>
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center justify-content-between">
            <h1 class="logo">
                <a href="/">
                    <img src="../imagine/logo.png" >
                </a>
            </h1>

            <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="/">TRANG CHỦ</a></li>
                <li><a class="nav-link scrollto" href="/">VỀ CHÚNG TÔI</a></li>
                <li><a class="nav-link scrollto" href="/">SẢN PHẨM</a></li>
                <li><a class="nav-link scrollto" href="/">LIÊN HỆ</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
        </div>
    </header><!-- End Header -->


    {{{body}}}
 

    <footer id="footer">
    <div class="footer-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 footer-info">
                <h3>CÔNG TY TNHH MTV NỘI THẤT CAY</h3>
                <p>Thiết kế và thi công:
                    <br> 
                    + Ngoại thất 
                    <br> 
                    + Nội Thất
                </p>
            </div>

            <div class="col-lg-5 col-md-6 footer-contact">
                <h4>Liên Hệ</h4>
                <p>
                    Email:  <u>noithatcay@gmail.com </u>
                    <br> <br>
                    Điện Thoại:  0939 261 192
                    <br> <br>
                    Địa chỉ:  F15-09, Trần Huy Liệu, P. Vĩnh Lạc, TP.Rạch Giá, Kiên Giang
                </p>
            </div>  

            <div class="col-lg-2 col-md-6 footer-newsletter">
                <h4>Mạng Xã Hội</h4>
                
        </div>
    </div>
    </div>
  </footer><!-- End Footer -->
</body>
</html>