<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CAY Design</title>

    <link href="vendor/aos/aos.css" rel="stylesheet">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="vendor/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="css/style.css" type="text/css" rel="stylesheet">

</head>
<body>
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center justify-content-between">
            <h1 class="logo">
                <a href="/">
                    <img src="../imagine/logo.png" >
                </a>
            </h1>
            <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="/">TRANG CHỦ</a></li>
                <li><a class="nav-link scrollto" href="/">VỀ CHÚNG TÔI</a></li>
                <li><a class="nav-link scrollto" href="/">SẢN PHẨM</a></li>
                <li><a class="nav-link scrollto" href="/">LIÊN HỆ</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
        </div>
    </header><!-- End Header -->


    {{{body}}}
 
</body>
</html>