<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CAY Design</title>

    <link href="vendor/aos/aos.css" rel="stylesheet">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="vendor/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>

    <link href="css/style.css" type="text/css" rel="stylesheet">
    <link href="css/home.css" type="text/css" rel="stylesheet">



    <script src="js/main.js"></script>
    <script src="vendor/aos/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center justify-content-between">
            <h1 class="logo">
                <a href="/">
                    <img src="../image/logo-02.png" >
                </a>
            </h1>

            <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto" href="/">TRANG CHỦ</a></li>
                <li><a class="nav-link scrollto" href="/about-us">VỀ CHÚNG TÔI</a></li>
                <li><a class="nav-link scrollto" href="/product">SẢN PHẨM</a></li>
                <li><a class="nav-link scrollto" href="/contact">LIÊN HỆ</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
        </div>
    </header>


    {{{body}}}
 

    <footer id="footer">
    <div class="footer-top">
    <div class="container">
        <div class="row">
            <div class="col-5 row footer-info">
                <h3>CÔNG TY TNHH MTV NỘI THẤT CAY</h3>
                    
                    <div class="col-lg-7 col-md-6 footer-info">
                        <p>Thiết kế và thi công:
                            <br> 
                            + Ngoại thất 
                            <br> 
                            + Nội Thất
                        </p>
                    </div>
            </div>

            <div class="col-5 footer-contact">
                <h4>Liên Hệ</h4>
                <p>
                    Email:  <u>noithatcay@gmail.com </u>
                    <br> <br>
                    Điện Thoại:  0939 261 192
                    <br> <br>
                    Địa chỉ:  F15-09, Trần Huy Liệu, P. Vĩnh Lạc, TP.Rạch Giá, Kiên Giang
                </p>
            </div>  

            <div class="col-2 footer-newsletter" align="center">
                <h4>Mạng Xã Hội</h4>

                    <a href="https://www.facebook.com/CAYDesign.vn" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a href="https://www.youtube.com/channel/UCHlhfcOI2djxEzeu9PZXkcw" target="_blank">
                        <i href="/" class="fa fa-youtube-play"></i>
                    </a>

                    <a href="https://www.instagram.com/_caydesign_/" target="_blank">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
            </div>
                
        </div>
    </div>
    </div>
  </footer><!-- End Footer -->
</body>
</html>