<section id="aboutus">
    <h1>VỀ CHÚNG TÔI</h1>
    <hr>
    <h2>CAY Design</h2>
    <div class="content">

        <div class="text">
            <p>Thời gian đầu CAY là một nhà xưởng nhỏ, được dựng lên vào cuối năm 2021 với mong muốn độc lập trong quá trình thi công - tạo ra sản phẩm nội thất từ gỗ công nghiệp. </p>
            <br>
            <p>Sau quá trình lớn lên từng ngày, chúng tôi quyết định thành lập ra thương hiệu CAY Design. 
            CAY mở rộng quy mô hoạt động về thiết kế, xây dựng và thi công nội thất các hạng mục công trình: nhà phố, biệt thự, quán cà phê, v..v... </p>
        </div>
        
        <div class="image">
            <img src="../image/about-us/1.png">
            <img src="../image/about-us/2.png">
            <img src="../image/about-us/3.png">
            <img src="../image/about-us/4.png">
            <img src="../image/about-us/5.png">
            <img src="../image/about-us/6.png">
            <img src="../image/about-us/7.png">
            <img src="../image/about-us/8.png">
        </div>
                

        
    </div>
</section>