<section class="contact">
    <h1>Liên hệ</h1>
    <img src="image/c7 cut_2.png">
    
    <div class="row">
        <div class="col content">
            <b>CÔNG TY TNHH NỘI THẤT CAY <br> </b>
            Địa chỉ: F15-09, Trần Huy Liệu,P.Vĩnh Lạc, TP.Rạch Giá, Kiên Giang <br>
            Tel: 0939 261 192 <br>
            Mail: noithatcay@gmail.com <br>
            - Từ 7h30 đến 17h00 các ngày từ thứ 2 đến thứ 6 <br>
            - Thứ 7 từ 8h00 đến 16h00 <br>
            Theo dõi chúng tôi tại: <br>
            <a href="facebook.com">
                <u>Facebook</u> <br>
            </a>
            <a href="facebook.com">
                <u>Instagram</u> <br>
            </a>
            <a href="facebook.com">
                <u>Youtube</u> <br>
            </a>
        </div>
        <div class="col form">
            <h2></h2>
            <form method="post" action="/contact"> 
                <div class="mb-3">
                    <label for="ten" class="form-label">Họ tên</label>
                    <input type="text" class="form-control" id="ten" name="ten">
                </div>
                <div class="mb-3">
                    <label for="Email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" >
                </div>
                <div class="mb-3">
                    <label for="sdt" class="form-label">Số điện thoại</label>
                    <input type="number" class="form-control" id="sdt" name="sdt">
                </div>
                <div class="mb-3">
                    <label for="noidung" class="form-label">Nội dung</label>
                    <textarea type="text" class="form-control" id="noidung" name="noidung" rows="3"></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
                
            </form>
        </div>
    </div>
</section>
