
<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative">
        
        <div class="row icon-boxes">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 ">
                <h1>Dự án <br> nổi bật</h1>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5" >
                <figure>
                    <img src="image/project/Bt co Dung Cut.png" alt="Hình ảnh" id="imgspecial">
                    <figcaption>Biệt thự cô Dung</figcaption>
                </figure>
            </div>
             <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 ">
                <figure>
                    <img src="image/project/NH Hoang Gia Cut .png" alt="Hình ảnh" id="imgspecial">
                    <figcaption>Văn phòng <br> nhà hàng Hoàng Gia</figcaption>
                </figure>
            </div>

             <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 ">
                <figure>
                    <img src="image/project/Tra sua chu Loc Cut.png" alt="Hình ảnh" id="imgspecial">
                    <figcaption>Coffee & Milk Tea</figcaption>
                </figure>
            </div>

        </div>
    </div>
</section><!-- End Hero -->