<section id="hero">
    <div class="background1"></div>

    <div class="content">
        <div class="title">
            <p> Các <b> dự án nổi bật</b> của chúng tôi</p>
            <a href="/product"> xem thêm </a>
        </div>
        {{!-- <div class="image">
            <img class="SpecialImg" src="../image/product/btcd.png" alt="...">
            <img class="SpecialImg" src="../image/product/c&mt.png"  alt="...">
            <img class="SpecialImg" src="../image/product/xin chào.png" alt="...">

            <button class="next-btn" onClick="plusDivs(1)"> &#10095; </button>
            <button class="prev-btn" onClick="plusDivs(-1)"> &#10094; </button>
        </div> --}}

        <div id="SpecialImg" class="carousel slide" data-bs-ride="carousel" >

            <div class="carousel-indicators">
                <button type="button" data-bs-target="#SpecialImg" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#SpecialImg" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#SpecialImg" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>

            <div class="carousel-inner" >
                <div class="carousel-item active" >
                    <a href="/product/btcd">
                        <img src="../image/product/btcd.png" alt="...">
                    </a>
                </div>
                <div class="carousel-item" href="/">
                    <a href="/product/c&mt">
                        <img src="../image/product/c&mt.png" alt="...">
                    </a>
                    
                </div>
                <div class="carousel-item" href="/">
                    <a href="/product/xin chào">
                        <img src="../image/product/xin chào.png"  alt="...">
                    </a>
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#SpecialImg" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#SpecialImg" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

</section><!-- End Hero -->