<section id="login">
    <div class="login-page">
        <div class="form">
            <h1>ADMIN</h1>
            <form class="login-form" method="POST" action="/login"> 
                <input type="text" placeholder="username" id="username" name="username"/>
                <input type="password" placeholder="password" id="password" name="password"/>
                <button>login</button>
            </form>
        </div>
    </div>
</section>