<section id="product-detail">
    <h1>{{folder}}</h1>
    <div align="center">
    {{#each title}}
        <div class="image">
            <img src="/image/product/{{../folder}}/{{this}}">
        </div>
    {{/each}}
    </div>
</section>