<section id="product">
    <h1> SẢN PHẨM </h1> 
    <hr>
    <div class="row image-list" align="center">
        <div class="col image" align="center">
            <img src="/image/newproject/c7.png">
            <h2>Nhà ABC</h2>
        </div>
        <div class="col image" align="center">
            <img src="/image/newproject/c7.png">
            <h2>Nhà ABC</h2>
        </div>
        <div class="col image" align="center">
            <img src="/image/newproject/c7.png">
            <h2>Nhà ABC</h2>
        </div>
    </div>
</section>