<section id="product">
    <h1> SẢN PHẨM </h1> 
    <hr>
    <div class="row image-list" align="center">
        {{#each title}}

                <div class="col image" align="center">
                    <a href='./product/{{this}}' onclick="sendImg('{{this}}')">
                        <img src="/image/product/{{this}}.png" value="btcd">
                        <h2>{{this}}</h2>
                    </a>
                </div>
        {{/each}}
    </div>
</section>