#aboutus{
    color: #333333;
    
}

#aboutus h1{
    text-align: center;
    margin: 10px;
    margin-top: 30px;
    font-size: 30px;
}

#aboutus hr{
    margin: 0 auto !important;
    height: 1.5px;
    background-color: #000;
    opacity: 1;
    width: 150px;
}

#aboutus .content{
    margin: auto;
    width: 80%;
    display: flex;
    font-family: "League Spartan", sans-serif;
}

#aboutus .content .text{
    margin-top: 70px;
    width: 33%;
    font-size: 30px;
}

#aboutus .content .image{
    display: flex;
    flex-wrap: wrap;
    width: 67%;
    margin-left: 25px;
}

#aboutus h2{
    text-align: center;
    margin: 10px 15px;
    margin-top: 3vh;
    font-size: 50px;
}

#aboutus .content .image img{
    width: 47%;
    margin:10px;
    border: solid 2.5px #000;
}

