#admin {
    color: #000;
    background-color: #fbf6f2;
}

#admin h1{
    text-align: center;
    margin-top: 10px;
}

#admin hr{
    margin: 0 auto !important;
    height: 1.5px;
    background-color: #000;
    opacity: 1;
    width: 150px;

}

#admin h2{
    font-size: 18px;
    margin-top: 10px;
}

#admin .image-container{
    margin: 0 auto;
    margin-top: 20px;
    width: 1200px;
}

#admin .image-list{
    display: flex;
    flex-wrap: wrap;   
}

#admin .image{
    border: solid 1px #767676;
    box-shadow: 1px 1px 5px #767676;
    background-color: #fff;
    cursor: pointer;
    position: relative;
    width: 32%;
    margin: 8px;
}

#admin .image a{
    opacity: 1;
	transition: .2s ease-in-out;
}

#admin .image a:hover{
    opacity: .5;
}

#admin .image .close-button{
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    transition: .2s ease-in-out;
    z-index: 1;
    color: #e20000;
    font-size: 25px;
    font-weight: bold;
    opacity: 0.5;
}

#admin .image .close-button:hover{
    opacity: 1;
}



#admin .col{
    padding: 0;
    margin: 10px;
}

#admin img{
    width: 100%;   
    height: 250px;
}

#admin a{
    color: #000;
}

#admin .add{
    margin-bottom: 10px;
}


