  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  #hero {
      width: 100%;
      height: 800px;
      position: relative;
      background: url("../image/hero-bg.jpg") top center;
      background-size: cover;
      height: auto;
    }
    
    #hero:before {
      content: "";
      position: absolute;
      background: rgba(13, 13, 13, 0.6);
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      pointer-events: none;
    }
    
    #hero .container {
      padding-top: 0px;
      padding-bottom: 30px;
    }
    
    #hero h1 {
      margin: 10px;
      font-size: 50px;
      font-weight: lighter;
      position: relative;
      color: #ffffff;
      text-align: center; /* căn giữa văn bản*/
    }
    
    #hero h2 {
      color: #5e5e5e;
      margin: 10px 0 0 0;
      font-size: 22px;
    }
    
    #hero .icon-boxes {
      margin-top: 100px;
    }
    
    @media (min-width: 1024px) {
      #hero {
        background-attachment: fixed;
      }
    }
    
    @media (max-height: 800px) {
      #hero {
        height: auto;
      }
    }
    
    @media (max-width: 992px) {
      #hero {
        height: auto;
      }
    
      #hero h1 {
        font-size: 28px;
        line-height: 50px;
      }
    
      #hero h2 {
        font-size: 18px;
        line-height: 24px;
      }
    }

.carousel-inner img{
  width: 90vw;
  height: 90vh;

}

.carousel-caption{
  text-shadow: 1px 1px 3px #000000;   
}
  .special-img img{
      width: 100%;
      height: 100%;
    } 
