
body {
  font-family: "Inter", sans-serif;
  color: #ffffff;
}

a {
  color: #2487ce;
  text-decoration: none;
}

a:hover {
  color: #469fdf;
  text-decoration: none;
}

br{
  font-size: 100px;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sofia", sans-serif;
} */

.form-control:focus{
  box-shadow: none !important;
  border: 1px solid #ccc !important;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #303030;
  z-index: 997;
  padding: 1.5vh 0;
  /* border-bottom: 1px solid #7d7d7d; */
  box-shadow: 0px 8px 15px rgba(128, 128, 128, 0.08);
  transition: top 0.5s;
}

#header .header-col{
  width: 50%;
}

#header .header-scrolled {
  border-color: #fff;
  padding: 12px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
}

#header .logo {
  margin-bottom: 0px;
  width: 50vw;
}

#header .logo img{
  width: 22vw;
  margin-left: 5vw;
}

#header .logo a {
  color: #16507b;
}

#header .user-pic {
  width: 32px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 30px;
}

#header .sub-menu-wrap {
  position: absolute;
  background: #fff;
  top: 80%;
  right: 5%;
  width: fit-content;
  min-width: 220px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
  box-shadow: 1px 1px 5px rgba(119, 119, 119, .5);
}

#header .sub-menu-wrap.open-menu { 
  max-height: 330px;
}

#header .sub-menu {
  background: #fff;
  padding: 20px;
  margin: 10px;
}

#header .sub-menu hr {
  border: 0.5px solid;
  height: 1px;
  width: 100%;
  background: rgb(78, 77, 77);
  margin-top: 15px;
}

#header .sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #525252;
}

#header .sub-menu-link p {
  width: 100%;
  margin-top: 15px;
  font-size: 14px;
}

#header .sub-menu-link i {
  width: 40px;
  background: #e0e9ec;
  border-radius: 50%;
  padding: 6px 10px;
  margin-right: 20px;
}

#header .sub-menu-link:hover p {
  font-weight: 600;
}

#header .sub-menu-link:hover {
  color: #2487ce;
  text-decoration: none;
}

@media (max-width: 992px) {
  #header .logo {
    font-size: 28px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/

#header .navbar-col{
  width: 50%;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 5vw;
}

.navbar {
  padding: 0;
  margin-left: 20px;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1.5vh 0 1.5vh 0;
  font-size: 1vw;
  color: #c8c8c8;
  transition: 0.3s;
  width: 10vw;
  height: 6vh;
  box-shadow: 1px 1px 1px #000;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  /* color: #dda756; */
  color: #212121;
  background-color: #fff;
}

.navbar .login,
.navbar .login:focus {
  background: #2487ce;
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 4px;
  color: #fff;
}

.navbar .login:hover,
.navbar .login:focus:hover {
  color: #fff;
  background: #3194db;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 20px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 160px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  text-transform: none;
  margin-left: 20px;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #2487ce;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 100;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}



/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #c8c8c8;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 15px;
    color: #c8c8c8;
    white-space: nowrap;
    transition: 0.3s;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(83, 83, 83, 0.9);
  transition: 0.3s;
  z-index: 999;
  width: 70vw;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #303030;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 4vw;
  width: auto;
  height: 5vh;
  color: #c8c8c8;
}

.navbar-mobile .login,
.navbar-mobile .login:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile li{
  width: auto;
}



.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #2487ce;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 12vh 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f8fbfe;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #124265;
}

.section-title p {
  margin-bottom: 0;
  font-size: 14px;
  color: #919191;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
color: #ffffff;
font-size: 1vw;
background: #f8fbfe;
position : relative;
box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08);
}

#footer {
padding: 3vw;
background: #303030;
}

#footer br{
  height: 1vh;
}

#footer  .footer-info {
  margin-bottom: 30px;
  margin-left: 1vw;
}   

#footer  .footer-info h3 {
font-size: 1.5vw;
color: #fff;
padding: 2px 0 2px 0;
line-height: 1;
font-weight: 500;
height: 1vh;
}

#footer  .footer-info p {
font-size: 1vw;
line-height: 4vh;
margin-bottom: 0;
color: #ffffff;
}

#footer  h4 {
font-size: 1.3vw;
font-weight: bold;
color: #ffffff;
position: relative;
padding-bottom: 12px;
}

#footer  .footer-contact {
margin-bottom: 30px;
}

#footer  .footer-contact ul {
list-style: none;
padding: 0;
margin: 0;
}

#footer  .footer-contact ul li {
padding: 10px 0;
display: flex;
align-items: center;
}

#footer  .footer-contact ul li:first-child {
padding-top: 0;
}

#footer  .footer-contact ul a {
color: #ffffff;
transition: 0.3s;
display: inline-block;
line-height: 1;
}

#footer  .footer-contact ul a:hover {
text-decoration: none;
color: #2487ce;
}


#footer .footer-newsletter h4 {
  font-size: 1.3vw;
  font-weight: bold;
  color: #ffffff;
  position: relative;
  padding: 0 0 12px 0;
  line-height: 1;

}

#footer .footer-newsletter i{
  font-size: 1.2vw;
  padding: 0;
}

#footer .footer-newsletter a{
  margin-left: 3px;
  margin-right: 3px;
}

#footer .footer-newsletter i:hover{
  color: #b5b5b5;
}

.image-wrapper {
  padding-left: 30px;
}

.fa {
  padding: 6px;
  width: 2vw;
  text-align: center;
  margin: 5px 2px;
  border-radius: 50%;
  color: #fff;
}

.row{
  --bs-gutter-x: 0;
}